body{
    background:#0b0b0b;
    font-family:Arial, sans-serif;
    color:white;
    margin:0;
}

.container{
    display:flex;
    gap:20px;
    padding:30px;
}

.painel{
    background:#363636;
    border-radius:25px;
    padding:25px;
    box-shadow:0 0 15px #246cda93;
}

.perguntas{
    width:45%;
}

.resultado{
    width:55%;
}

h1,h2{
    color:#45bbff;
}

input,select{
    width:100%;
    padding:12px;
    margin-top:12px;
    border:none;
    border-radius:10px;
    background:#2d2d2d;
    color:white;
}

button{
    width:100%;
    margin-top:15px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#0077ff;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#0059c7;
}

.card{
    background:#222;
    border-radius:15px;
    padding:15px;
    margin-top:15px;
}